@model PeopleSearch.Models.ConnectionString
@{
    ViewBag.Title = "ConfigurationResult";
}

<h2>Configuration Status</h2>

<span>@Model.Status</span>
<span>@Model.Message</span>
<span>@Model.FinalConfigurationString</span>
